@model  List<LazyWelfare.AndroidMobile.Models.HostModel>


@foreach (var one in Model)
{
    <div class="line-section">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>@one.Name
            </li>
        </ul>
    </div>
}








