

<div class="line-section">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>音量调节
        </li>
        <li class="list-group-item">放大</li>
        <li class="list-group-item">缩小</li>
    </ul>
</div>

<div class="line-section">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span> 操作命令
        </li>
        <li class="list-group-item item-success">关机</li>
        <li class="list-group-item item-success">睡眠</li>
    </ul>
</div>

