@{
    ViewData["Title"] = "UITest Page";
}

<h2>@ViewData["Title"]</h2>
<h3>UITest-Page</h3>
<p class="content"></p>

@section Scripts {
    <script>
        $(function () {
            FillSharp();
        });

        function FillSharp() {
            var act = GetSharp();
            if (act) BlueTouch.Partial("/UITest/" + act, ".content");
        }

        function GetSharp() {
            var url = window.location.toString();
            return url.split("#")[1];
        }


        if (('onhashchange' in window) && ((typeof document.documentMode === 'undefined') || document.documentMode == 8)) {
            // 浏览器支持onhashchange事件
            window.onhashchange = hashChangeFire;  // TODO，对应新的hash执行的操作函数
        } else {
            // 不支持则用定时器检测的办法
            setInterval(function () {
                var ischanged = isHashChanged();  // TODO，检测hash值或其中某一段是否更改的函数
                if (ischanged) {
                    hashChangeFire();  // TODO，对应新的hash执行的操作函数
                }
            }, 150);
        }

        function hashChangeFire() {
            FillSharp();
        }

    </script>
}

