@{
    ViewData["Title"] = "Interface Page";
}
<h2>@ViewData["Title"]</h2>
<h3>Interface-Page</h3>
<p  class="content"></p>

@section Scripts {
    <script>
        $(function () {
            FillSharp();
        });

        function FillSharp() {
            var act = GetSharp();
            if (act) BlueTouch.Partial("/Page/" + act, ".content", function () { 

                $(".command-item").css("display", "none");
                $(".main-item").click(function () {
                    $(this).next().fadeToggle();
                });

                $(".command-item-button").click(function () {
                    CommandInvoke(this);
                });

                $(".main-command-item").click(function () {
                    CommandInvoke(this);
                });

            });
        }

        function CommandInvoke(btn) {
            var name = $(btn).text();
            var action = $(btn).data("action");
            var bind = $(btn).data("bind");
            if (bind != "")
                alert(bind);
        }

        function GetSharp() {
            var url = window.location.toString();
            return url.split("#")[1];
        }

        if (('onhashchange' in window) && ((typeof document.documentMode === 'undefined') || document.documentMode == 8)) {
            // 浏览器支持onhashchange事件
            window.onhashchange = hashChangeFire;  // TODO，对应新的hash执行的操作函数
        } else {
            // 不支持则用定时器检测的办法
            setInterval(function () {
                var ischanged = isHashChanged();  // TODO，检测hash值或其中某一段是否更改的函数
                if (ischanged) {
                    hashChangeFire();  // TODO，对应新的hash执行的操作函数
                }
            }, 150);
        }

        function hashChangeFire() { 
            FillSharp();
        }
    </script>
}

