@using LazyWelfare.AndroidMobile.Views.Partials
@model  LazyWelfare.AndroidMobile.Template.Setting

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="bootstrap/bootstrap-theme.css" />
    <link rel="stylesheet" href="css/style.css" />
    <style>
        body {
            background-color: @Model.Background;
        }
    </style>
</head>

<body>
    <div class="clearfix"></div>
    <div id="MainContent"></div>
    <script src="jquery.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="site.min.js"></script>
    <script>

    </script>
</body>
</html>